@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
*{
    margin: 0; padding:0; box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;

}

.site-header {
    width: 100%;
    height: 100vh;
    background: #432818;
    /* background: linear-gradient(57deg, #34d8eb );  */
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%); */

}


nav{
    width: 100%; height: 100px;
    background: linear-gradient(57deg , #34d8eb); 

    display: flex; color: #ffe6a7;
    
}

.logo{
    width:500px;
    height: 500px;
}

.logo h1{
    line-height: 100px;
    padding-left: 50px;
    font-weight: bolder;
    
}

.menu{
    width: 50%; height: 100px;
}

.menu ul{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:  center;
}

.menu ul li{
    list-style: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

section{ display: flex;  }

.leftside { width: 60%; height: auto; overflow: hidden; margin-top: 20px;}

.leftside img{ padding-left: 150px; width: 512px;  height: 512px; }

.rightside{ width:70%; height: 300px; color: #ffe6a7; text-align: center; margin-top: 100px; padding: 90px 30px 90px 90px;}

.rightside h1{ text-align: center;
    color: #ffe6a7;
    font-size: 2em;
    font-weight: bolder; 
    margin-bottom: 2em;
} 

#user{
    margin-right: 20px;
    font-weight: bold;
}
#admin{
    font-weight: bold;
}

